.card {
  align-items: center;
  background-color: #FCE38A;
  display: flex;
  height: 150px;
  margin: 16px;
  width: 500px;
}

button {
  background-color: transparent;
  color: #F38181;
  font-weight: bold;
  border: 1px solid #F38181;
  border-radius: 4px;

  &:hover {
    background-color: #ffe893;
  }
}

img {
  height: 100%;
  object-fit: cover;
  width: 60%;

}

.textWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.title {
  font-size: larger;
  font-weight: 500;
  margin-bottom: 0;
}
