header {
  align-items: center;
  background-color: #F38181;
  display: flex;
  height: 80px;
  justify-content: space-between;
}

h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  margin-left: 60px;
}
